- unless task.active
  - if @user and task.ready?
    %table.spacer
      %tr
        %td!= calendar_input('data[ship_date]', '', {}, {}, "_#{task.object.id}")
        %td
          Days Shipping:
          = text_field(:data, :ship_days, :size => 3, :value => task.object.shipping && task.object.shipping.days)
        %td
          = check_box :data, :ship_saturday
          Saturday Delivery
- else
  Estimated Ship Date
  %strong= format_time(task.ship_date, false)
  via
  %strong= task.ship_days
  day shipping
