%h1 Users

= link_to "Add User", :action => :add

%table
  %thead
    %tr
      %td Action
      %td Login
      %td Name
      %td Email
  %tbody
    - for user in @users
      %tr
        %td
          = link_to 'Edit', :action => :edit, :id => user
          ,
          = link_to 'Phone', :action => :phones, :id => user
        %td= user.login
        %td= user.name
        %td= user.email

