- for session in sessions
  .session
    .agent= session.user_agent
    - split_by_common(session.pages) { |page| [format_time(page.created_at, false), page.address] }.each do |(date, address), pages|
      %div
        .date_addr
          = date
          \:
          = address
          - if gi = GEOIP.look_up(address)
            \:
            = "#{gi[:city]} #{gi[:region]} [#{gi[:country_name]}]"
            - if gi[:postal_code]
              \,
              = gi[:postal_code]
            - if gi[:area_code]
              = "(#{gi[:area_code]})"
          - else
            Unknown
      - for page in pages
        %div
          = page.created_at.strftime(" %I:%M:%S %p")
          \:
          %a{ :href => url_for(page.uri) }&= page.uri.inspect
          \:
          - if page.referer
            %span.referer
              = page.referer
