- for call_log, data in @calls
  %div
    - if data.is_a?(Customer)
      %h2 Customer
      #{format_phone(call_log.caller_number)} : #{call_log.caller_name} @ #{format_time(call_log.create_time)}
      %table.form
        %tr
          %th Company:
          %td= data.company_name
        %tr
          %th Name:
          %td= data.person_name
        %tr
          %th Email:
          %td
            - for ea in data.email_addresses
              %div= mail_to ea.address
        %tr
          %th Phone:
          %td
            - for p in data.phone_numbers
              %div #{p.name}: #{p.number_string}
        %tr
          %th Orders
          %td!= data.orders.collect { |o| link_to o.id, :controller => '/order', :action => :status, :order_id => o.id }.join(', ')
    - else
      %h2 Product Views
      #{format_phone(call_log.caller_number)} : #{call_log.caller_name} @ #{format_time(call_log.create_time)}
      %table
        - data.in_groups_of(6) do |row|
          %tr
            - for access in row.compact
              %td
                - product = Product.find(access.action_id)
                = render :partial => '/categories/thumb', :locals => { :product => product, :category => nil, :context => nil }
                M#{access.action_id}
