= format_phone(@user.incoming_phone_number)
\:
= @user.incoming_phone_name
@
= format_time(@user.incoming_phone_time)

- if @customer
  %h2 Customer
  %table.form
    %tr
      %th Company:
      %td= @customer.company_name
    %tr
      %th Name:
      %td= @customer.person_name
    %tr
      %th Email:
      %td= @customer.email
    %tr
      %th Phone:
      %td= @customer.phone
    %tr
      %th Orders
      %td= @customer.orders.collect { |o| link_to o.id, :controller => '/order', :action => :status, :order_id => o.id }.join(', ')

- unless @accesses.empty?
  %h2 Product Views
  - for access in @accesses
    - product = Product.find(access.action_id)
    %a.thumb{ :href => url_for_product(product) }
      /= image_tag product.image_path_relative('thumb'), :alt => "#{product.name} Thumbnail"
      %br
      %span.name
        = product.respond_to?(:name_headline) ? product.name_headline : product.name
        %br
        %strong M#{access.action_id}
