%html{ "xml:lang" => "en-US", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title= @title
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %style{ :type => 'text/css' }
      = File.open("#{RAILS_ROOT}/public/stylesheets/global.css") { |f| f.read }
      = File.open("#{RAILS_ROOT}/public/stylesheets/order.css") { |f| f.read }
  %body
    = render '/admin/orders/po'

    - if @purchase.include_artwork_with_po?
      %h2 Artwork
      = render('artwork.html')
