- if @employees
  - for employee in @employees
    %ul
      %li
        = link_to "#{employee.name} : #{'%0.0f%' % (employee.commission * 100.0)}", :id => employee.id
        \: #{employee.orders.where('NOT closed').where(:customer_id => Customer.where("person_name != ''").select(:id)).count} Open Orders

%hr

%h1= "Commissions for #{@user.name}"

%h2 Commission Payments
= form_for @commission, :url => apply_commission_admin_employee_path(@user), :html => { :method => :put } do |comm|
  %table.grid
    %thead
      %td Date
      %td Payed
      %td Comment
    %tbody
      %tr.dyn
        %td
          %strong= format_time(Time.now, false)
        %td.money
          $
          = comm.text_field :payed, :value => @total_payable, :size => 7
        %td= comm.text_field :comment, :value => @payable_comment
        %td.null
          = submit_tag 'Apply', :confirm => 'Apply Payment?'
      - for comm in @commissions
        %tr
          %td= format_time(comm.created_at, false)
          %td.money= comm.payed.to_perty
          %td= comm.comment

- for name, orders, payed in [['Closed Orders (Payable)', @closed_orders], ['Acknowledged Orders (Likely to Pay)', @acknowledged_orders], ['Payed Orders', @payed_orders, true]]
  - unless orders.empty?
    - if payed
      %hr
    %h2= name
    %table.grid
      %thead
        %td Order
        %td Date
        %td Price
        %td Cost
        %td Profit
        %td Commission
        %td Payable
      %tbody
        - total_price = Money.new(0)
        - total_cost = Money.new(0)
        - total_profit = Money.new(0)
        - total_payable = Money.new(0)
        - for order in orders
          %tr
            %td= link_to order.id, status_order_path(order)
            %td= format_time(order.created_at, false)
            %td.money= order.total_price_cache.to_perty
            %td.money= order.total_cost_cache.to_perty
            - total_price += order.total_price_cache
            - total_cost += order.total_cost_cache
            - total_profit += order.total_profit_cache
            - total_payable += order.payable - order.payed
            %td.money= order.total_profit_cache.to_perty
            %td= "%0.0f%" % (order.commission * 100.0)
            %td.money
              = order.payable.to_perty
              - unless payed or order.payed.zero?
                (-#{order.payed.to_perty} = #{(order.payable - order.payed).to_perty})
      %tfoot
        %td.money{ :colspan => 2 } Total:
        %td.money= total_price.to_perty
        %td.money= total_cost.to_perty
        %td.money= total_profit.to_perty
        %td
        %td.money= total_payable.to_perty
