%h1 Phones for #{@user.name}

= error_messages_for :user
- if @permissions.include?('Super')
  = form_for @user do |user|
    %table
      %tr
        %th Direct:
        %td= user.text_field(:direct_phone_number)
      %tr
        %th Extension:
        %td
          = user.text_field(:extension, :size => 2)
          %span{ :style => 'float: right;' }= user.submit
- else
  Extension: #{@user.extension}  Direct: #{@user.phone}

%h2 External Number
= form_for @user do |user|
  %table
    %tr
      %th Enabled:
      %td= user.check_box(:external_phone_enable)
    %tr
      %th Number:
      %td= user.text_field(:external_phone_number)
    %tr
      %th Timeout:
      %td
        = user.text_field(:external_phone_timeout, :size => 2)
        %span{ :style => 'float: right;' }= user.submit

%h2 Phone Registrations
%table
  %thead
    %tr
      %td IP Address
      %td IP Location
      %td Expires
  %tbody
    - for reg in @registrations
      %tr
        %td= reg.network_ip
        %td
          - if gi = GEOIP.look_up(reg.network_ip)
            - if gi[:city]
              = gi[:city].force_encoding("UTF-8")
            - if gi[:region]
              = gi[:region].force_encoding("UTF-8")
            - if gi[:country_name]
              [#{gi[:country_name].force_encoding("UTF-8")}]
            - if gi[:postal_code]
              \,
              = gi[:postal_code]
            - if gi[:area_code]
              = "(#{gi[:area_code]})"
        %td= Time.at(reg.expires)

%h2 Provisioned Phones
= error_messages_for :phone
= form_for [@user, @phone] do |ph|
  %table
    %thead
      %tr
        %td Name
        %td Address
    %tbody
      - for phone in @user.phones
        %tr
          %td= phone.name
          %td= phone.identifier
          %td= button_to 'Remove', admin_user_phone_path(@user, phone), :method => :delete
    %tfoot
      %tr
        %td= ph.text_field(:name)
        %td= ph.text_field(:identifier)
        %td= ph.submit('Add')

%h2 Instructions

%h3 Polycom SoundPoint 501
%ul
  %li Enter 12 digit MAC Address on back of phone above
  %li Select 'Setup'
  %li Enter Password (default 456)
  %li Select 'Server Menu'
  %li Set 'Server Type' as 'HTTP'
  %li Set 'Server Address' as 'www.mountainofpromos.com/phone/'

%h3 Any SIP Phone
%table
  %tr
    %th User Name:
    %td= @user.login
  %tr
    %th Password:
    %td= @user.phone_password
  %tr
    %th Proxy/Server:
    %td sip.mountainofpromos.com