%td
  - unless @price_lock || purchase_lock
    = link_to(image_tag("remove.png"), { :action => :order_item_remove, :id => entry.id, :klass => 'OrderItemDecoration' }, :remote => true, :method => :delete)
    /:complete => "entry_remove(request, '#{entry.class}-#{entry.id}-cost-marginal')", :confirm => "Remove item?",
  - if entry.technique.name == 'General'
    Dec: 
    = text_field_tag "#{entry.class}-#{entry.id}-description", entry.description, :size => 28, :readonly => @price_lock || purchase_lock
  - elsif true
    = entry.technique.name
    for
    = text_field_tag "#{entry.class}-#{entry.id}-count", entry.count, :class => 'num'
    #{entry.technique.unit_name}(s)
= render :partial => 'order_item_entry_tail', :locals => { :object => entry, :purchase_lock => purchase_lock, :null => false }
