%td.description
  - unless @price_lock
    = link_to(image_tag("remove.png"), { :action => :order_item_remove, :id => entry.id, :klass => entry.class.to_s }, :remote => true, :method => :delete)
    /:complete => "entry_remove(request, '#{entry.class}-#{entry.id}-price')", :confirm => "Remove item?",
  = text_field_tag "#{entry.class}-#{entry.id}-description", entry.description, :size => 32, :readonly => @price_lock
  .auto_complete>
%td.num= text_field_tag "#{entry.class}-#{entry.id}-price", entry.price.to_s, :class => 'money negative null', :readonly => @price_lock
%td.num.admin= text_field_tag "#{entry.class}-#{entry.id}-cost", entry.cost.to_s, :class => 'money negative', :readonly => @price_lock
%td.num
  x
  = text_field_tag "#{entry.class}-#{entry.id}-quantity", entry.quantity, :class => 'num', :readonly => @price_lock
%td.num ???
%td.num.admin ???
%td.num.admin ???
%td.num.admin ???
