%td.description
  - unless @price_lock || purchase_lock
    = link_to_remote image_tag("remove.png"), :complete => "entry_remove(request, '#{entry.class}-#{entry.id}-cost-marginal')", :confirm => "Remove item?", :url => { :action => :order_item_remove, :id => entry.id, :klass => 'OrderItemEntry' }
  = text_field_tag "#{entry.class}-#{entry.id}-description", entry.description, :size => 32, :readonly => @price_lock || purchase_lock
  .auto_complete>
= render :partial => 'order_item_entry_tail', :locals => { :object => entry, :purchase_lock => purchase_lock, :null => true }
