.general
  %table.block{ :id => "#{order.class}-#{order.id}" }
    - unless empty = ((locked = @price_lock || purchase_lock) && order.entries.empty?)
      %thead
        %tr
          %td Description
          %td Price
          %td.admin Cost
          %td Units
          %td Total Price
          %td.admin Total Cost
          %td.admin Profit
          %td.admin{ :colspan => '2' } Margin
      %tbody
        = render :partial => 'order_entry', :collection => order.entries
    %tfoot
      - unless empty
        %tr.sub
          %td{ :rowspan => 2 }
            - unless locked
              %div
                = link_to(image_tag("add.png")+" Add General Entry to #{order.class}", { :action => :order_entry_insert, :id => order.id, :klass => order.class.to_s, :unlock => @unlock }, :remote => true, 'data-type' => 'html', :class => 'add')
          %td.num{ :colspan => "3" } Total:
          %td.money.num ???
          %td.money.num.admin ???
          %td.money.num.admin.profit ???
          %td.num.admin.margin ???
          %td.admin %
      %tr.money.num.grand
        %th{ :colspan => 3 } #{order.class} Total:
        %td ???
        %td.admin ???
        %td.admin.profit ???
        %td.admin.margin ???
        %td.admin %
      - if order.is_a?(Order) and order.tax_type
        %tr.money.num#tax
          %th{ :colspan => 3 } #{order.tax_type} Sales Tax
          %td= order.tax_rate_s
          %td ???
          %td.num{ :colspan => 3}
            - if order.tax_type == 'nonprofit'
              = link_to("Reset Sales Tax", tax_type_admin_order_path(order), method: :post, confirm: "Change Tax Type?")
            - else
              = link_to("No Tax, Non Profit", tax_type_admin_order_path(order, type: 'nonprofit'), method: :post, confirm: "Change Tax Type?")
        %tr.money.num
          %th{ :colspan => 4 } Total:
          %td ???
