- [['price', @price_lock], ['cost', purchase_lock]].each do |type, readonly|
  - klass = 'num ' + ((type == 'cost') && 'admin').to_s
  - %w(marginal fixed).each do |comp|
    %td{ :class => klass }
      = text_field_tag "#{object.class}-#{object.id}-#{type}-#{comp}", object.send(type).send(comp).to_s, :class => (null ? 'money null' : 'money'), :readonly => readonly
  %td{ :class => klass } ???
%td.num.admin
  = text_field_tag "profit-#{object.id}", "???", :class => 'money null profit', :readonly => @price_lock
%td.num.admin
  = text_field_tag "margin-#{object.id}", "???", :class => 'money null margin', :readonly => @price_lock
%td.admin
  \%
