%table#email
  %tbody
    - for size, mail in @list
      - m = mail
      - m = m.parts.first while m.multipart?
      - body = m.body
      %tr{ :class => (mail.from.find { |m| m.index('mountainofpromos.com') } && 'our') }
        %td
          .subject= mail.subject
          .preview!= body.to_s.encode('UTF-8', :invalid => :replace, :undef => :replace, :replace => '').split("\n")[0..31].collect { |s| s.strip }.join('<br/>')
        %td
          .date= format_time(mail.date)
          %div
            From:
            != format_email(mail, :from)
          %div
            To:
            != format_email(mail, :to)
          - if mail.cc
            %div
              CC:
              != format_email(mail, :cc)
          %div
            Size:
            = size
          - if mail.multipart?
            %div
              Parts:
              - for part in mail.parts
                %div
                  = part.mime_type
                  - if part.filename
                    \:
                    = part.filename
