= render :partial => 'order/menu'
%table#email
  %tbody
    - for size, mail in @list
    -   body = mail.multipart? ? mail.parts.first.body : mail.body
      %tr{ :class => (mail.from.find { |m| m.index('mountainofpromos.com') } && 'our') }
        %td
          .subject= mail.subject
          .preview= body.split("\n")[0..5].collect { |s| s.strip }.join('<br/>')
        %td
          .date= format_time(mail.date.utc)
          %div
            From:
            = format_email(mail, :from)
          %div
            To:
            = format_email(mail, :to)
          - if mail.cc
            %div
              CC:
              = format_email(mail, :cc)
          %div
            Size:
            = size
