:javascript
  $(document).ready(function() {
    $('.find input[data-autocomplete]').bind('railsAutocomplete.select', function(ui) {
      var params = {};
      params[this.name] = this.value;
      location.href = '/admin/orders/contact_search?' + jQuery.param(params);
    });
  });

= form_for @customer, :url => find_apply_admin_orders_path, :html => { :method => :post } do |cust|
  = hidden_field_tag 'customer_id', @customer.id
  %table.find
    %caption Search
    %tbody
      %tr
        %th Order #:
        %td= text_field :order, :id, :value => ''
      %tr
        %th Invoice #:
        %td= text_field :invoice, :quickbooks_ref
      %tr
        %th Purchase #:
        %td= text_field :purchase_order, :quickbooks_ref
      %tr
        %th Bill #:
        %td= text_field :bill, :quickbooks_ref
        %td= submit_tag('Find')
      %tr
        %th Company:
        != customer_field :company_name
      %tr.required
        %th Name:
        != customer_field :person_name
      %tr.required
        %th Email:
        %td#email_addresses
          = text_field_predicated(:customer, :email_addresses, :value => '')
      %tr.required
        %th Phone Number:
        %td#phone_numbers
          = text_field_predicated(:customer, :phone_numbers, :value => '')
