%h1
  Order Requests (
  = @orders.length
  of
  = @count
  )
= link_to((params[:closed] ? "Exclude" : "Include") + " Closed", { :closed => !params[:closed] })
%table#fatlist
  %thead
    %tr
      %th= link_to 'ID', :sort => 'id'
      %th 
      %th Customer
      %th= link_to 'Tasks Pending', :sort => 'task'
      %th Dates
  %tbody
    - for name, orders in @groups
      - if name
        %tr
          %td{ :colspan => '5' }
            %h2= "#{name} (#{orders.length})"
      - for order in orders
        %tr
          %td
            = link_to(status_order_path(order)) do
              = order.id
              - if order.sample
                %strong> S

            = surround '(', ')' do
              - pos = order.items.collect { |i| i.purchase && i.purchase.purchase_order && i.purchase.purchase_order.quickbooks_ref }.compact.uniq
              = link_to(pos.empty? ? 'NO PO' : pos.join(','), items_admin_order_path(order))

            %br
            = order.user ? order.user.name : "Unassigned"
            - if days = order.days_to_deliver
              %br
              = link_to(days < 0 ? 'PAST DUE' : "#{order.days_to_deliver} Days", info_order_path(order))
            - if order.urgent_note and !order.urgent_note.strip.empty?
              %br
              %strong= link_to order.urgent_note, info_order_path(order)
          %td
            - images = order.items[0..1].collect do |item|
              - unless (images = item.active_images).empty?
                = link_to(image_tag(images.first.image.url(:thumb)), url_for_product(item.product))
              - else
                = link_to(image_tag(item.product.image_path_relative('thumb')), url_for_product(item.product))

          %td
            - if allowed?('CustomerInformationTask')
              = link_to(contact_order_path(order)) do
                %div= order.customer.company_name
                %div= order.customer.person_name
            - else
              %div= order.customer.company_name
              %div= order.customer.person_name  

            - if allowed?('CustomerInformationTask')
              - for email in order.customer.email_addresses
                %div= mail_to "#{order.customer.person_name} <#{email.address}>", email.address
              - for pn in order.customer.phone_numbers
                %div #{pn.name}: #{pn.number_string}
          %td
            - now = Time.now.utc
            - included = []
            - for task in order.tasks_allowed(@permissions)
            -   next unless task.waiting_name
            -   next if included.include?(task.waiting_name)
            -   included << task.waiting_name
              %div
                = image_tag task.customer ? 'there_task.png' : 'our_task.png'
                != link_to_task(task.waiting_name, task, order)
          %td
            - if last_task = order.task_recent
              %div
                Initial Contact:
                = format_time(order.created_at)
              %div
                = last_task.completed_name
                \:
                = format_time(last_task.updated_at)
              - if order.delivery_date
                %div
                  In Hands:
                  = order.delivery_date.strftime("%A %b %d")

/= will_paginate @orders
