%style
  div#aknowledgement {
  font-size: 10pt;
  }
  
  h2 { font-size: 14pt; }

  h2, h3, h4 {
  margin-bottom: 4pt;
  }
  
  h3 { border-bottom: medium solid black; }

#aknowledgement
  %table
    %tr
      %td
        %h2 Mountain Xpress Promotions, LLC
        954 E. 2nd Ave, Ste 206
        %br
        Durango, CO 81301
        %br
        Phone #: 970.375.1900
        %br
        Fax #: 877.765.3617
        %br
        Website: www.mountainofpromos.com
        - if @order.user
          %h4 Representative
          Name:
          = @order.user.name
          %br
          Email:
          = mail_to @order.user.email
        %h4 Terms
        Required Date:
        - if @order.delivery_date_not_important
          Not Important
        - else
          = @order.delivery_date || "Not Specified"
        %br
        Rush Order:
        = @order.rush ? "YES" : "NO"
        %br
        Payment:
        = valid?(@order, :terms) ? @order.terms : "Pre-Paid"
        %br
        - unless @order.fob.blank?
          FOB:
          = @order.fob

      %td{ :style => 'width: 1em;' }
      %td
        %h2 Order Acknowledgement
        - task = @order.task_completed?(AcknowledgeOrderTask)
        Order #:
        = @order.id
        %br
        Date:
        = (task ? task.created_at : Time.new).strftime("%b %d, %Y")
        %div
          - customer = @order.customer
          %h3 Ship To
          - if valid?(customer, :company_name)
            = customer.company_name
            %br
          - if valid?(customer.ship_address, :name)
            = customer.ship_address.name
            %br
          - elsif valid?(customer, :person_name)
            = customer.person_name
            %br
          = render :partial => '/order/address', :locals => { :address => customer.ship_address || customer.default_address }
        - unless customer.payment_methods.empty?
          %div
            %h3 Bill To
            - payment = customer.payment_methods.find(:first)
            /= payment.name
            - if valid?(customer, :company_name)
              = customer.company_name
            %br
            = render :partial => '/order/address', :locals => { :address => payment.address, :customer => customer }

  %hr
- for invoice in (@order.invoices + @order.payment_transactions.find_all { |t| !t.amount.zero? }).sort_by { |i| i.created_at || Time.now }
  .invoice
    .date
      - if invoice.created_at
        = format_time_abs(invoice.created_at, false)
        - if !@static and allowed?('Super') and invoice.is_a?(Invoice)
          = link_to(image_tag('remove.png'), { :controller => '/admin/orders', :action => :invoice_remove, :id => invoice }, { :confirm => "Remove Invoice" })
      - else
        PENDING
    - if invoice.is_a?(Invoice)
      %h3
        - if invoice.quickbooks_ref
          Invoice (#{invoice.quickbooks_ref})
        - else
          Quote

      %table#items_table
        %tbody
          - entries = invoice.entries
          - order_item_entries = entries.find_all { |e| e.is_a?(InvoiceOrderItem) }
          - for entry in order_item_entries
            %tr
              %td{ :colspan => 4 }= entry.html_row(self, absolute)
            %tr.spacer
          - other_entries = entries - order_item_entries
          - qty_col = other_entries.find { |e| e.quantity > 1 }
          - unless other_entries.empty?
            %tr.thead
              %td{ :colspan => qty_col ? 1 : 3 } Description
              - if qty_col
                %td Price
                %td{ :style => 'max-width: 2em;' } Quantity
              %td Amount
            - for entry in other_entries
              %tr= entry.html_row(self, absolute)
              %tr.spacer

        - if entries.length > 1 || invoice.tax_rate > 0.0
          %tfoot
            - if invoice.tax_rate > 0.0
              %tr
                %th{ :colspan => 3 } Sub Total:
                %td.num.total= invoice.total_item_price.to_perty
              %tr
                %th{ :colspan => 3 } #{invoice.tax_type} Sales Tax (#{invoice.tax_rate * 100.0}%):
                %td.num= invoice.total_tax.to_perty
            %tr.total
              %th{ :colspan => 3 } Total:
              %td.num= invoice.total_price.to_perty

      .notes
        - if !static and @user and invoice.new_record?
          %h3 Notes
          - form_for :invoice, invoice, :url => { :action => :create_invoice, :order_id => @order } do |inv|
            = inv.text_area :comment, 'cols' => 50, 'rows' => 5
            = submit_tag('Create Invoice')
        - else
          - if invoice.comment and !invoice.comment.empty?
            %h3 Notes
            %p= invoice.comment
    - else
      %h3
        Payment:
        = invoice.amount.to_perty