%td= transaction.created_at.strftime("%Y-%m-%d")
%td= link_to transaction.order_id, :action => :status, :order_id => transaction.order_id
- if transaction.is_a?(PaymentError)
  %td{ :colspan => "2" }= transaction.message
- else
  %td= transaction.amount.to_perty
%td
  = transaction.comment
- if @user and transaction.method.creditable?
  - if @transaction == transaction
    %td Refunding
  - elsif transaction.is_a?(PaymentCharge)
    %td= link_to "Refund", { :order_id => @order, :txn_id => transaction.id }
