= render :partial => 'menu'
= render :partial => 'acknowledge_menu'

%h2 Artwork Aknowledgement
= render :partial => 'acknowledge_artwork', :locals => { :artworks => @artworks, :static => true }

%hr
- task = @order.task_find(ArtAcknowledgeOrderTask)
- if @order.task_ready?(ArtAcknowledgeOrderTask)
  - form_for :order_task, @order_task, :url => { :order_id => @order } do |ak|
    - unless @second_phase
      = ak.text_area :comment, :rows => 4
      %br
      = submit_tag('Acknowledge Artwork')
      = submit_tag('Reject Artwork')
    - else
      - if @order_task.comment and !@order_task.comment.empty?
        %p= "Customer Comment: #{@order_task.comment}"
        = ak.hidden_field :comment, :value => @order_task.comment
      = submit_tag('Acknowledge Artwork Confirm')
      - if @user
        = submit_tag('Acknowledge Artwork (Without Email)')

- elsif @order.task_completed?(ArtAcknowledgeOrderTask)
  %h3
    Artwork was acknowledged
    = format_time(task.created_at)
    from host
    = task.host
    \.

- else
  %h3 Artwork is not ready to be Acknowledged
