- unless @search
  = error_messages_for_many [:customer, :default_address, :ship_address]
  - if @user and @static and !@reassoc
    .admin
      = link_to "Unlock to Modify", :unlock => true

- if @search or @naked
  :javascript
    function on_select(field, value) {
      params = {#{@search ? '' : "'order_id': #{@order.id}"}}
      params[field.name] = field.value
      window.location = '/admin/orders/contact_search?' + Object.toQueryString(params)
    }
- if RAILS_ENV == "production"
  %a{ :href => "//privacy-policy.truste.com/click-to-verify/www.mountainofpromos.com",
      :title => "Privacy Policy by TRUSTe", :target => '_blank',
      :style => "float: right; " }
    %img{ :alt => "Privacy Policy by TRUSTe",
          :src => "//privacy-policy.truste.com/verified-seal/www.mountainofpromos.com/green/h.png" }
%p
  We will not contact you or send you an email for any reason not directly related to an order unless you select to be added to our email list.  More information on how we use your information can be found on our TRUSTe verified
  = link_to 'privacy policy.', :controller => :static, :action => :privacy

- if @reassoc
  .admin
    %h3
      = link_to "Associate this order #{@order.id} with customer below", { :controller => '/admin/orders', :action => :contact_merge, :order_id => @order.id, :keep_customer_id => @customer.id, :discard_customer_id => @order.customer }
      %br
      = link_to "View Customer Orders", :controller => :order, :action => :orders, :customer_id => @customer.id
      %br
      = link_to "OOPS Go back and don't associate", { :customer_id => nil }


- form_for :customer, @customer, :url => { :order_id => @order } do |cust|
  = hidden_field_tag 'customer_id', @customer.id
  %table.form
    %caption
      Contact Information
      - if @search
        Search
      - elsif @naked
        Set or Associate
    - if @similar
      %thead
        %tr
          %td
          %td Current Customer
          %td
            Similar Customer:
            = link_to "Merge", { :controller => '/admin/orders', :action => :contact_merge, :order_id => @order.id, :keep_customer_id => @order.customer.id, :discard_customer_id => @similar.id }, :confirm => "Merge similar customer into current customer?  This will delete the similar customer and reassociate all its orders with the current customer!!!"
            ,
            = link_to "View", :action => :orders, :order_id => @similar.orders.find(:first)
    %tbody
      - if @search
        %tr
          %th Order #
          %td= text_field :order, :id, :value => ''
        %tr
          %th Purchase #
          %td= text_field :purchase_order, :quickbooks_ref
          %td= submit_tag('Find')
      %tr
        %th Company:
        != customer_field :company_name
      %tr.required
        %th Name:
        != customer_field :person_name
        - unless @static or @search
          %td
            = check_box :customer, :solicit
            Put me on the email list.
      %tr.required
        %th Email:
        %td#email_addresses
          - unless @search
            - @customer.email_addresses << EmailAddress.new if @customer.email_addresses.empty?
            = render :partial => '/order/email_address', :locals => { :customer => cust }
          - else
            = text_field_predicated(:customer, :email_addresses)
        - unless @static or @search
          %td
            &nbsp;
            != add_link(cust, 'email_address', EmailAddress)
      %tr.required
        %th Phone Number:
        %td#phone_numbers
          - unless @search
            - @customer.phone_numbers << PhoneNumber.new if @customer.phone_numbers.empty?
            = render :partial => '/order/phone_number', :locals => { :customer => cust }
          - else
            = text_field_predicated(:customer, :phone_numbers)
        - unless @static or @search
          %td
            &nbsp;
            != add_link(cust, 'phone_number', PhoneNumber)

      - unless @search
        = render :partial => 'address_edit', :locals => { :field_name => :default_address, :disabled => false }



  - unless @search or (@static and !@options.different)
    %table#shipping.form
      %caption Shipping Address
      %tbody
        - unless @static
          %tr
            %th
            %td
              = check_box :options, :different, { :onclick => "enable_disable_forum('shipping', this)" }
              Specify different shipping address
        %tr
          %th Name:
          %td= @static ? @ship_address.name : text_field(:ship_address, :name, :disabled => !@options.different)
        = render :partial => 'address_edit', :locals => { :field_name => :ship_address, :disabled => !@options.different}
      
  - unless @search or @reassoc
    != submit_options
