- if allowed?('items_edit')
  = render :partial => 'admin/orders/items_menu'

- form_for :order, @order, { :url => { :order_id => @order } }  do |order|
  - unless true or @static
    Enter zipcode for shipping estimate:
    %input#postalcode{ :name => "postalcode", :size => "5", :onkeypress => "return num_keypress(this, event)", :value => @order.customer.ship_address && @order.customer.ship_address.postalcode, :type => "text" }
    = observe_field 'postalcode', { :function => 'change_postalcode(value)', :frequency => 0.25 }
    %hr

  %table#items_table
    %tbody
      - for order_item in @order.items
        %tr
          %td.item{ :colspan => 4 }
            = render :partial => 'order_item', :locals => { :order_item => order_item, :static => @static, :absolute => false, :invoice => false }
            %tr.spacer

      - unless (entries = @order.po_entries + @order.entries).empty?
        - qty_col = entries.find { |e| e.quantity > 1 }
        %tr.thead
          %td{ :colspan => qty_col ? 1 : 3 } Description
          - if qty_col
            %td Price
            %td{ :style => 'max-width: 2em;' } Quantity
          %td Amount
        - for entry in entries
          - next unless entry.price
          %tr
            %td{ :colspan => qty_col ? 1 : 3 }= entry.description
            - if qty_col
              %td.num= entry.price.to_perty
              %td= entry.quantity
            %td.num.subtotal= (entry.price * entry.quantity).to_perty

      - if !entries.empty? || @order.tax_rate > 0.0
        %tfoot
          %tr.spacer
          - if @order.tax_rate > 0.0
            %tr
              %th{ :colspan => 3 } Sub Total:
              %td.num.total= @order.total_item_price.to_perty
            %tr
              %th{ :colspan => 3 } #{@order.tax_type} Sales Tax (#{@order.tax_rate * 100.0}%):
              %td.num= @order.total_tax.to_perty
          %tr.total
            %th{ :colspan => 3 } Total:
            %td.num= @order.total_price.to_perty
  
  %hr
  = submit_options
