- address = instance_variable_get("@#{field_name}")
= fields_for field_name do |add|
  %tr
    %th{ :rowspan => "2" } Address:
    %td= @static ? address.address1 : add.text_field(:address1, :disabled => disabled)
  %tr
    %td= @static ? address.address2 : add.text_field(:address2, :disabled => disabled)
  %tr.required
    %th Zipcode:
    %td= @static ? address.postalcode : add.text_field(:postalcode, :disabled => disabled, :class => 'postalcode')
    - unless defined?(nonotes)
      %td{ :style => "color: red;" } Required for shipping charges
  %tr
    %th City:
    %td= @static ? address.city : add.text_field(:city, :disabled => disabled)
  %tr
    %th State:
    %td= @static ? address.state : add.text_field(:state, :disabled => disabled)
  %tr
    %th Country:
    %td= @static ? Address::COUNTRY_LIST.find { |n, c| c == address.country }.first : add.select(:country, Address::COUNTRY_LIST, {  }, { :disabled => disabled })