- for group in artwork_groups
  - if group.nil?
    %hr
    - next
  - elsif group.is_a?(String)
    %h2= group
    - next
  .group{ :id => "artwork-group=#{group.id}" }
    %table.head
      %tr
        %td
          - if !static and @user
            = fields_for "group[#{group.id}]", group do |grp|
              = grp.text_field(:name, :size => 23)
              %br
              = grp.text_area(:description, :rows => 2, :cols => 30)

            - if @user and group.artworks.empty? and group.order_item_decorations.empty?
              %br
              = link_to(image_tag('remove.png') + "Remove", group_destroy_order_artwork_path(@order, :id => group), :method => :post, :confirm => "Remove Artwork Group}")   
          - else
            %h2= group.name
            %p= group.description
        %td
          %div.decorations
            = render :partial => '/orders/artwork_decoration', :collection => group.decorations_for_order(@order), :locals => { :group => group, :static => static, :dragable => !static && dragable }

    .items
      = render :partial => '/orders/artwork_item', :collection => group.artworks.find_all { |a| !filter_tag or a.has_tag?(filter_tag) }, :locals => { :group => group, :static => static, :dragable => !static && dragable }
