%p
  Your credit card information will be retained for the duration of this order by CISP/PCI Compliant
  %a{:href => 'http://www.trustcommerce.com/', :target => 'other'} TrustCommerce.
  The card will not be billed until you acknowledge the invoice for the amount that will be billed.  After your order has shipped, you could be charged or credited for any differences in the shipping estimate and product over run or under runs within 10% of the requested quantity.
- form_for :credit_card, @credit_card, :url => { :action => :payment_creditcard, :order_id => @order } do |cc|
  %table.form
    %caption Add Credit Card
    %tr
      %th Type:
      %td= cc.select :type,  [['Visa', 'visa'], ['Master Card', 'master'], ['Discover', 'discover'], ['American Express', 'american_express']]
    %tr
      %th Name on Card:
      %td= cc.text_field :name
    %tr
      %th Number:
      %td= cc.text_field :number, :size=>19
    %tr
      %th Expiration:
      %td
        = select_month(@credit_card && @credit_card.month, :prefix => 'credit_card', :use_month_numbers => true)
        \/
        = select_year(@credit_card && @credit_card.year, :prefix => 'credit_card', :start_year => Date.today.year, :end_year => Date.today.year + 10 )
    %tr
      %th CCV:
      %td= cc.text_field :verification_value, :size => 4

  :javascript
    function enable_disable_forum(object, input) {
      var elements = $(object).getElementsByTagName('input')
      for (i = 0; i < elements.length; ++i) {
        if (elements[i] != input)
            elements[i].disabled = !input.checked;
      }
    }

  = check_box :options, :different, { :onclick => "enable_disable_forum('address', this)" }
  Specify different billing address
  %br
  - fields_for :address, @address do |add|
    %table#address.form
      %tr
        %th{ :rowspan => "2" } Address:
        %td= add.text_field(:address_1, :disabled => !@options.different)
      %tr
        %td= add.text_field(:address_2, :disabled => !@options.different)
      %tr
        %th Zipcode:
        %td= add.text_field(:postalcode, :disabled => !@options.different)
      %tr
        %th City:
        %td= add.text_field(:city, :disabled => !@options.different)
      %tr
        %th State:
        %td= add.text_field(:state, :disabled => !@options.different)

  = submit_tag "Add Credit Card", :class => 'button', :id => 'addbtn'
