%p
  Your card will not be charged until you acknowledge the invoice for the amount that will be billed.

= form_for(@credit_card, :as => :credit_card, :url => payment_creditcard_order_path(@order), :html => { :class => 'noauto' } ) do |cc|
  %table.form
    %caption Add Credit Card
    %tr
      %th Type:
      %td= cc.select :type,  [['Visa', 'visa'], ['Master Card', 'master'], ['Discover', 'discover'], ['American Express', 'american_express']]
    %tr
      %th Name on Card:
      %td= cc.text_field :name
    %tr
      %th Number:
      %td= cc.text_field :number, :size => 19
    %tr
      %th Expiration:
      %td
        = select_month(@credit_card && @credit_card.month, :prefix => 'credit_card', :add_month_numbers => true)
        \/
        = select_year(@credit_card && @credit_card.year, :prefix => 'credit_card', :start_year => Date.today.year, :end_year => Date.today.year + 10 )
    %tr
      %th CCV:
      %td= cc.text_field :verification_value, :size => 4

  %br
  = fields_for @address do |add|
    %table#address.form
      %tbody
        %tr
          %td
          %td
            = check_box :options, :different, { :class => 'activate' }
            Specify different billing address
      = render :partial => 'address_edit', :locals => { :field_name => :address, :disabled => !@options.different, :nonotes => true}

  %hr
  = submit_tag "Add Credit Card", :class => 'button', :id => 'addbtn'
