.phone_number
  - unless @static
    = f.select(:name, PhoneNumber.types)
    = f.telephone_field :number_string, :size => 19
    != remove_child_link(f)
  - else
    #{f.object.name}: #{f.object.number_string}
