= render :partial => 'acknowledge_menu'

= link_to(image_tag('pdf.png') + " Print", invoices_order_path(@order, :format => :pdf), { :class => 'nav', :style => 'float: right;' })

= render :partial => 'invoices', :locals => { :static => false, :absolute => false }

- if @order.task_completed?(AcknowledgeOrderTask)
  %div
    Current amount owed:
    %strong= @order.total_chargeable.to_perty

%hr
.nav
  = form_for :order_task, :url => { :order_id => @order } do |ak|
    - if @order.task_ready?(AcknowledgeOrderTask)
      = ak.text_area :comment, :rows => 4
      %br
      = submit_tag('Acknowledge Order', :class => 'button', :id => 'submitbtn')
      - if @user
        = submit_tag('Acknowledge (Without Email)')
      = submit_tag('Reject Order', :class => 'button', :id => 'rejectbtn')
    - else
      - if task = @order.task_completed?(AcknowledgeOrderTask)
        %h3 Order was acknowledged at #{format_time(task.created_at)} from host #{task.host}.
        - if @order.task_revokable?(AcknowledgeOrderTask)
          = submit_tag('Reject Order', :class => 'button', :id => 'rejectbtn')

      %hr
      != submit_options(false)
