= render :partial => 'acknowledge_menu'

%h2 Artwork Aknowledgement
= render :partial => 'acknowledge_artwork', :locals => { :artworks => @artworks, :static => true }

%hr
.nav
  - task = @order.task_find(ArtAcknowledgeOrderTask)
  = form_for :order_task, @order_task, :url => { :order_id => @order } do |ak|
    - if @order.task_ready?(ArtAcknowledgeOrderTask)
      = ak.text_area :comment, :rows => 4
      %br
      = submit_tag('Accept Artwork', :class => 'button', :id => 'submitbtn')
      - if @user
        = submit_tag('Accept Artwork (Without Email)')      
      = submit_tag('Reject Artwork', :class => 'button', :id => 'rejectbtn')
    - else
      - if @order.task_completed?(ArtAcknowledgeOrderTask)
        %h3 Artwork was acknowledged at #{format_time(task.created_at)} from host #{task.host}.
        - if @order.task_revokable?(ArtAcknowledgeOrderTask)
          = submit_tag('Reject Artwork', :class => 'button', :id => 'rejectbtn')

      %hr
      != submit_options(false)
