%p
  We will not contact you or send you an email for any reason not directly related to an order unless you select to be added to our email list.  More information on how we use your information can be found on our
  = link_to 'privacy policy.', :controller => '/static', :action => :privacy

= error_messages_for 'customer', :object => ([@customer, @default_address, @ship_address] + @customer.email_addresses + @customer.phone_numbers)
- if @user and @static and !@reassoc
  .admin
    = link_to "Unlock to Modify", :unlock => true

- if @naked
  :javascript
    function on_select(field, value) {
      params = {'order_id': #{@order.id}}
      params[field.name] = field.value
      window.location = '/admin/orders/contact_search?' + Object.toQueryString(params)
    }
- if Rails.env.production?
  %a{ :href => "//privacy-policy.truste.com/click-to-verify/www.mountainofpromos.com",
      :title => "Privacy Policy by TRUSTe", :target => '_blank',
      :style => "float: right; " }
    %img{ :alt => "Privacy Policy by TRUSTe",
          :src => "//privacy-policy.truste.com/verified-seal/www.mountainofpromos.com/green/h.png" }

- if @reassoc
  .admin
    %h3
      = link_to "Associate this order #{@order.id} with customer below", contact_merge_admin_order_path(@order, :keep_customer_id => @customer.id, :discard_customer_id => @order.customer)
      %br
      = link_to "View Customer Orders", orders_path(:customer_id => @customer.id)
      %br
      = link_to "OOPS Go back and don't associate", { :customer_id => nil }

= form_for @customer, :url => contact_order_path(@order), :html => { :method => :post } do |cust|
  - if @user
    .admin
      %h2 Our Notes
      = text_area :customer, :our_notes, :rows => [(@customer.our_notes || '').lines.count, 2].max
  
  = hidden_field_tag 'customer_id', @customer.id
  %table.form
    %caption
      Contact Information
      - if @naked
        Set or Associate
    - if @similar
      %thead
        %tr
          %td
          %td Current Customer
          %td
            Similar Customer:
            = link_to "Merge", contact_merge_admin_order_path(@order, :keep_customer_id => @order.customer.id, :discard_customer_id => @similar.id), :method => :put, :confirm => "Merge similar customer into current customer?  This will delete the similar customer and reassociate all its orders with the current customer!!!"
            ,
            = link_to "View", items_order_path(@similar.orders.find(:first))
    %tbody
      %tr
        %th Company:
        != customer_field :company_name
      %tr.required
        %th Name:
        != customer_field :person_name
        - unless @static
          %td
            = check_box :customer, :solicit
            Put me on the email list.
      %tr.required
        %th Email:
        %td#email_addresses
          - @customer.email_addresses << EmailAddress.new if @customer.email_addresses.empty?
          = cust.fields_for :email_addresses, @customer.email_addresses do |email|
            = render :partial => 'email_address', :locals => { :f => email }
        - unless @static
          %td
            &nbsp;
            != add_child_link(cust, :email_addresses)
      %tr.required
        %th Phone:
        %td#phone_numbers
          - @customer.phone_numbers << PhoneNumber.new if @customer.phone_numbers.empty?
          = cust.fields_for :phone_numbers, @customer.phone_numbers do |phone|
            = render :partial => 'phone_number', :locals => { :f => phone }
        - unless @static
          %td
            &nbsp;
            != add_child_link(cust, :phone_numbers)

      = render :partial => 'address_edit', :locals => { :field_name => :default_address, :disabled => false }

  - unless (@static and !@options.different)
    %table#shipping.form
      %caption Shipping Address
      %tbody
        - unless @static
          %tr
            %td
            %td
              = check_box :options, :different, { :class => 'activate' }
              Specify different shipping address
        %tr
          %th Name:
          %td= @static ? @ship_address.name : text_field(:ship_address, :name, :disabled => !@options.different)
        = render :partial => 'address_edit', :locals => { :field_name => :ship_address, :disabled => !@options.different}
      
  - unless @reassoc
    != submit_options !@static
    