%h1 About #{COMPANY_NAME}

%p #{COMPANY_NAME_SHORT} strives to provide the best possible value for our customers. We guarantee that you will get your items the way you expected them, on time, at the price we quoted, and at the best price:

%h2 Guarantees
%h3 What you Expect
%p If the product you recieve isn't as you expect we will at your discretion rerun your order or refund your money.

%h3 On Time
%p If your order isn't delivered on time for your event, we will refund all your money.

%h3 At the Quoted Price
%p Your invoice total will always be what you pay. We will not charge for over-runs, unforeseen charges, or increased shipping costs. 

%h3 Lowest Price
%p We are so confident our listed prices are the lowest anywhere, if you can find a lower advertised price for an identical product within 30 days after purchase, we will refund the difference.


%h2 Trust
%h3 Privacy
%p
  We consider our customers privacy very important.  Accordingly we will never sell any information you provide us.  We will not contact you in any way that is not related to an order unless you specifically agree to receive product promotion emails.

%h3 Security
%p
  The secure part of our website uses an
  %a{ :href => 'http://en.wikipedia.org/wiki/Extended_Validation_Certificate' } Extended Validation Certificate
  indicated by the green address bar in your browser.  This provids our customers with an assurance the site is operated by an established business with an verified owner and physical presence.
  The certificate and organization validation is provided by
  %a{ :href => 'http://www.startssl.com/?app=0' } StartCom Ltd.

%p
  If you have any questions about the security on our Web site, you can contact us at
  = mail_to 'security@mountainofpromos.com', nil, :encode => 'javascript'

%h2 Contact Information
%div
  = link_to "MountainOfPromos.com", "http://www.mountainofpromos.com/"
  is owned and operated by:
  %br
  = link_to COMPANY_NAME, "http://www.mountainexpresspromotions.com"
  - for l in COMPANY_ADDRESS.split("\n")
    %br
    = l

%br

%table
  %tr
    %td Office:
    %td (970) 375-1900
  %tr
    %td Fax:
    %td (877) 765-3617
  %tr
    %td{ :rowspan => "2" } Phone:
    %td (877) MTN-Logo
  %tr
    %td (877) 686-5646
  %tr
    %td Email:
    %td
      = mail_to MAIN_EMAIL, nil, :encode => 'javascript'
  %tr
    %td Mail Address:
    %td
      = COMPANY_NAME
      - for l in COMPANY_ADDRESS.split("\n")
        %br
        = l

%hr
%div
  = image_tag('asi.png', :alt => 'ASI: Promotion Products Resource Professional')
  %br
  ASI: 278067

%hr
D-U-N-S&reg; Number: 04-864-8348
