%h1 Bitcoin
%p We now accept Bitcoin for payment with a #{BCDiscount}% discount off the order total.

%h2 What is Bitcoin
%div{ :style => 'text-align: center;' }
  %iframe{ :width => "560", :height => "315", :src => "http://www.youtube.com/embed/Um63OQz3bjo", :frameborder => "0", :allowfullscreen => true }
  %br  
  More Information at #{link_to 'weusecoins.com', 'https://www.weusecoins.com'}

%h2 How to get Bitcoins
%p One of the easiest ways to get bitcoins is to use #{link_to 'Coinbase', 'https://coinbase.com/'}.  There are other options listed at #{link_to 'weusecoins.com Getting Started', 'https://www.weusecoins.com/en/getting-started'}.
  
%h2 Paying with Bitcoins
%p You can pay for any order with bitcoins.  The estimated bitcoin price will be shown on the items page after clicking "Get Quote or Order" on any product page.  We must review the order before you can make payment to ensure the price is complete and correct.  After you receive an email with the final order price you can pay with bitcoins on the order payment page.  A bitcoin price will be set for 1 hour based on the current exchange rate by clicking "bitcoin pay now".

%h2 Why the discount
%p We currently provide a #{BCDiscount}% discount for purchases with bitcoins.  We offer this discount in part because the transaction fees on bitcoins are significantly lower than credit cards.  Bitcoin transaction fees are set by the sender with typical fees equivalent to 1 to 10 cents (if too low transaction will be delayed or won't go through).  Many exchanges can convert bitcoins to US dollars for 0.60% or less.  Compare this to credit cards with interchange rates that vary from 1.8% to around 3% and the exact fee can't be determined when the card is processed.  This is on top of fixed transaction fees of about 30 cents.  In addition, bitcoin payments are not subject to charge backs so we don't have to worry about losses due to credit card fraud.
