%h1 Privacy Policy
%p This privacy statement describes how #{COMPANY_NAME} collects and uses the personal information you provide on our Web site: www.mountainofpromos.com. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.

%p If you have questions or concerns regarding this policy, you should contact us at support@mountainofpromos.com.

%h2 Collection and Use of Personal Information
%p We collect the following personal information from you
%ul
  %li Contact Information such as name, email address, mailing address, phone number
  %li Billing Information such as credit card number, and billing address
  %li Preferences Information such as product wish lists, order history, marketing preferences
%p We also collect the following information from you
%ul
  %li Information about your business such as company name, company size, business type

%p As is true of most Web sites, we automatically gather information about your computer such as your IP address, browser type, referring/exit pages, and operating system.
%p We use this information to
%ul
  %li Fulfill your order
  %li Send you an order confirmation
  %li Assess the needs of your business to determine suitable products
  %li Send you requested product or service information
  %li Respond to customer service requests
  %li Administer your account
  %li Respond to your questions and concerns
  %li Improve our Web site and marketing efforts
  %li Conduct research and analysis
  %li Facilitate your transactions with other users


%h2 Information Sharing
%p We will share your personal information with third parties only in the ways that are described in this privacy statement. We do not sell your personal information to third parties.
%p
  We may provide your personal information to companies that provide services to help us with our business activities such as producing and shipping your order. These companies are authorized to use your personal information
  %strong only as necessary to provide
  these services to us.
%p We may also disclose your personal information
%ul
  %li as required by law such as to comply with a subpoena, or similar legal process
  %li when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request,
  %li if #{COMPANY_NAME} is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information,
  %li to any other third party with your prior consent to do so.
%p We make your contact information available to other users that you transact with on this site to help complete the transaction.


%h2 Cookies and Other Tracking Technologies
%p We use cookies, in part, to keep track of your preferences and profile information. Cookies are also used to collect general usage and volume statistical information that does not include personal information.

%h3 Links to Other Web Sites
%p Our Site includes links to other Web sites whose privacy practices may differ from those of #{COMPANY_NAME}. If you submit personal information to any of those sites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any Web site you visit.


%h2 Security
%p The security of your personal information is important to us. When you enter sensitive information (such as credit card number) on our order forms, we encrypt the transmission of that information using secure socket layer technology (SSL).

%p We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security.

%p If you have any questions about security on our Web site, you can contact us at support@mountainofpromos.com


%h2 Additional Policy Information
%h3 Correcting and Updating Your Personal Information
%p To review and update your personal information to ensure it is accurate, contact us at support@mountainofpromos.com .

%h3 Notification of Privacy Statement Changes
%p We may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.


%h2 Contact Information
%p You can contact us about this privacy statement by writing or email us at the address below:

%p
  = COMPANY_NAME
  %br
  - for l in COMPANY_ADDRESS.split("\n")
    = l
    %br
  Email: support@mountainofpromos.com
  %br
  Phone: 970-375-1900
