- if @employees
  - for employee in @employees
    %ul
      %li= link_to "#{employee.name} : #{'%0.0f%' % (employee.commission * 100.0)}", :id => employee.id

%h1= "Commissions for #{@user.name}"

%h2 Commission Payments
- form_for :commission, @commission, :url => { :action => :apply_commission } do |comm|
  %table
    %thead
      %td Date
      %td Payed
      %td Comment
    %tbody
      %tr
        %td
          %strong Pending
        %td.money
          $
          = comm.text_field :payed, :value => @pending_pay, :size => 7
        %td= comm.text_field :comment
        %td
          = submit_tag 'Apply'
      - for comm in @commissions
        %tr
          %td= format_time(comm.created_at, false)
          %td.money= comm.payed.to_perty
          %td= comm.comment

- for name, orders, payed in [['Closed Orders (Payable)', @closed_orders], ['Acknowledged Orders (Likely to Pay)', @acknowledged_orders], ['Payed Orders', @payed_orders, true]]
  - unless orders.empty?
    - if payed
      %hr
    %h2= name
    %table
      %thead
        %td Order
        %td Date
        %td Price
        %td Cost
        %td Profit
        %td Commission
        %td Payable
      %tbody
        - total_price = Money.new(0)
        - total_cost = Money.new(0)
        - total_profit = Money.new(0)
        - total_payable = Money.new(0)
        - for order in orders
          %tr
            %td= link_to order.id, { :controller => '/order', :action => 'status', :order_id => order.id }
            %td= format_time(order.tasks_active.first.created_at, false)
            %td.money= order.total_price_cache.to_perty
            %td.money= order.total_cost_cache.to_perty
            - total_price += order.total_price_cache
            - total_cost += order.total_cost_cache
            - total_profit += order.total_profit_cache
            - total_payable += order.payable
            %td.money= order.total_profit_cache.to_perty
            %td= "%0.0f%" % (order.commission * 100.0)
            %td.money
              = order.payable.to_perty
              - unless payed or order.payed.zero?
                (-#{order.payed.to_perty} = #{(order.payable - order.payed).to_perty})
      %tfoot
        %td
        %td Total
        %td= total_price.to_perty
        %td= total_cost.to_perty
        %td= total_profit.to_perty
        %td
        %td.money= total_payable.to_perty