- unless @user
  - if @category.description && !@category.description.strip.empty?
    #description= @category.description
- else
  #description.admin
    = form_for @category, { :url => add_admin_category_path(@category) } do |cat|
      = cat.text_field :name, :value => ''
      = submit_tag 'Add Category'
      - if @category.products.empty? and @category.children.empty?
        = link_to 'Remove Category', admin_category_path(@category), :method => :delete

    - form_for @category, { :url => admin_category_path(@category), :html => { :method => :put } } do |cat|
      = cat.text_area :description, :cols => 100, :rows => 4
      %br
      = submit_tag 'Update'

