#gridsel
  - form_tag do
    - for name in %w(columns rows)
      = name.capitalize
      %select{ :onchange => 'location = this.options[this.selectedIndex].value;' }
        - for num in [4,5,6,7,8,9,10,name == 'rows' ? 100 : nil].compact
          <option value='#{url_for(params.merge(name => num))}'#{instance_variable_get("@#{name}") == num ? ' selected' : ''}>#{num}</option>

= will_paginate @products, @paginate_options

#list
  %table.list
    %tbody
      - @products.in_groups_of(@columns) do |row|
        %tr
          - for prod in row.compact
            %td
              = render :partial => 'categories/thumb', :locals => { :product => prod, :category => @category, :context => context }

= will_paginate @products, @paginate_options
