- if @user
  = link_to image_tag('remove.png'), { :controller => '/admin/categories', :action => :remove_product, :id => product.id, :category => category.id }, :confirm => "Remove #{product.name} from #{category.path}"
%a.thumb{ :href => url_for_product(product, category, context) }
  = image_tag product.image_path_relative('thumb'), :alt => "#{product.name} Thumbnail"
  %br
  %span.name
    - if product.respond_to?(:name_headline)
      = product.name_headline
    - else
      &= product.name
  - if product.price_min_cache and product.price_max_cache
    %span.price
      = product.price_min_cache.to_perty
      to
      = product.price_max_cache.to_perty
