- cache do
  #virtues
    %div
      %h2 Service
      %p We pride ourselves on delivering an <strong>excellent customer experience</strong>.  If you have any questions you can call, send an email or use the live help and you will be promptly put in contact with your own knowledgeable account representative who can answer any questions and guide you through the order process.

    %div
      %h2 Value
      %p We know our competitors prices well to ensure our prices are some of the best in the industry so our customers <strong>always get a great deal</strong> without having to spend their valuable time price shopping.  But if you manage to find a lower price, send us the quote or page link and we will likely beat it.  We are also one of the few in the industry who use a <strong>continuous pricing</strong> scheme as opposed to price breaks ensuring each additional unit you order is less expensive than the last so you aren't artificially encouraged to order more than you need.
    
    %div
      %h2 Rush
      %p Need a product right away?  We can ship many of our products imprinted within 24 hours after you order.  And many at no additional charge.

  #reviews
    %h2 Customer Reviews
    - for review in @reviews[0..4]
      %table
        %tr
          - if review.show_products
            - for product in review.object.items.collect { |i| i.product }
              %td{ :rowspan => '2' }
                %a.thumb{ :href => url_for_product(product) }
                  = image_tag product.image_path_relative('thumb'), :alt => "#{product.name} Thumbnail"

          %td.rating{ :rowspan => '2' }
            - for name, method in ReviewOrderTask.aspect_names.zip(ReviewOrderTask.aspect_methods)
              - if rate = review.send(method)
                %div
                  - rate.times do
                    = image_tag('star_full.png')
                  - (5 - rate).times do
                    = image_tag('star_empty.png')
                  = name
          %td.comment
            = review.comment

        - if review.show_company || review.show_person
          %tr
            %td.name
              &#8212;
              = %w(person company).collect { |n| review.send("show_#{n}") ? review.object.customer.send("#{n}_name") : nil }.compact.join(', ')

  #categories
    - for category, tag, count in @categories
      = render :partial => 'categories/category', :locals => { :category => category, :display_name => category.name_web, :path => category.path_web, :to_list => true, :context => { :children => true, :tag => tag } }

  %p 
    We have a large selection of custom imprinted promotional products with over 7,000 to choose from for events like 
    = @purposes.join(', ')
