- if flash[:notice]
  %h1#message= flash[:notice]
  %hr

%h2 #{COMPANY_NAME} Login

= form_for [:admin, User.new], :url => :admin_login do |f|
  %table.form
    %tr
      %th User:
      %td= f.text_field :login
    %tr
      %th Password:
      %td= f.password_field :password
    %tr
      %th
      %td= submit_tag 'Login'

