= error_messages_for 'user'

%br

= form_for :user, @user do |u|
  %table.form
    %caption Change Password
    %tr
      %th Old Password:
      %td= u.text_field :old_password, :size => 30
    %tr
      %th{ :rowspan => "2" } Choose password:
      %td= u.password_field :password, :size => 30
    %tr
      %td= u.password_field :password_confirmation, :size => 30

  %input.primary{ :type => "submit", :value => "Change Password" }
