%tr
  %td!= (level-1).times.collect { '&nbsp;| ' }.join + (level != 0 ? '&nbsp;|- ' : '') + supplier['name']
  %td= supplier.description
  %td= supplier.products.count
  %td= link_to((@static ? 'View' : 'Edit'), edit_admin_supplier_path(supplier))
- if @suppliers[supplier.id]
  = render :partial => 'supplier', :collection => @suppliers[supplier.id], :locals => { :level => level+1 }