%h1
  Supplier:
  = @supplier.name
= error_messages_for :supplier

- form_for :supplier, @supplier do |supplier|
  %table
    - %w(name account_number description fax phone artwork_email po_email web status).each do |name|
      %tr
        %th= "#{name.gsub('_', ' ').capitalize}:"
        %td= supplier.text_field name
    = render :partial => '/order/address_edit', :locals => { :field_name => :address, :disabled => false }

    - %w(inside_sales accounting customer_service problem_resolution).each do |name|
      - %w(name email phone).each do |field|
        %tr
          %th
            =(field == 'name') ? name.gsub('_', ' ').capitalize : ''
            = "#{field.capitalize}:"
          %td= supplier.text_field "#{name}_#{field}"
    %tr
      %th Credit:
      %td= supplier.text_field :credit
    %tr
      %th Notes:
      %td= supplier.text_area :notes

  = submit_tag 'Submit'

