!!! Strict
%html{ "xml:lang" => "en-US", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %base{ :href => url_for(:only_path => false, :controller => :categories, :action => :home) }
    %style{ :type => "text/css" }
      = Promoweb::Application.assets['customer_send.css'].to_s.gsub('}', "}\n")
  %body
    #header
      = link_to('/', :id => 'logo') do      
        /%object{ :data => image_path('logo-print.svg'), :type => 'image/svg+xml', :width => '420', :height => '85' }
        = image_tag 'logo.png', :alt => 'Mountain of Promos'

      #links
        - uri_param = { :only_path => false, :protocol => 'https', :controller => 'orders', :auth => @order.customer.uuid, :id => @order.id }
        -# = link_to "Login", uri_param.merge(:action => 'login')
        = link_to 'Status', uri_param.merge(:action => :status)
        - for task in @waiting_tasks
          - next unless task.uri
          - unless task == ReviewOrderTask
            = link_to task.waiting_name, task.uri.merge(uri_param)

    #note
      - main_waiting_task = @waiting_tasks.find { |t| t.depends_on.include?(@task) }
      - main_waiting_task = @waiting_tasks.first unless main_waiting_task
      - @header_text.split("\n").each do |line|
        - line = auto_link(line).strip
        - line.gsub!(/\{((?:\w+\:)?[^\}]*)\}/) { |s| link_to($1, uri_param.merge(main_waiting_task.uri)) } if main_waiting_task
        %p!= line

      - if @order.user
        %hr
        = mail_to "#{@order.user.name} <#{@order.user.email}>", @order.user.name, :subject => "Order #{@order.id}"
        - if @order.user.phone
          %br
          = @order.user.phone

    = render_partial_null("/customer_send/#{@task.class.to_s.underscore}") || render(:partial => '/customer_send/default')

    %hr

    %p
      Thank you,
      %br
      Sales Team
      %br
      %a{ :href => "http://www.mountainofpromos.com/" }
      MountainofPromos.com
      %br
      877-MTN-LOGO (877-686-5646)
      %br
      FAX: 877-765-3617
      %br
      %a{ :href => "http://www.mountainofpromos.com/" }
        Mountainofpromos.com
      is owned and operated by #{COMPANY_NAME}.
