- if @product.deleted
  %h1#path !!! PRODUCT NO LONGER AVAILIBLE !!!
- else
  = path_text

%table.layout
  %tr
    - if @link_context
      %td#prod_nav.layout
        #order
          %span Order by:
          - for sort in Category.order_list.find_all { |o| o != @context[:sort] }
            %span= link_to sort.capitalize, @context.merge({ :category => @category, :sort => sort })
        #prod_list
          - for prod in @products
            %div{ :class => (prod == @product) && 'current' }
              = render :partial => 'categories/thumb', :locals => { :product => prod, :category => @category, :context => @context }

    %td.layout
      #prod
        #prod_title
          %span#prod_num
            %em= link_to("#{@product.supplier.name}: #{@product.supplier_num}", @product.supplier_url)
            %strong= "(M#{@product.id})"
          %h1= @product.name
          = path_tail_list

        - if @message
          #message= @message

        - if @user
          #actions.admin
            %span.action
              Add to
              - if @order && @order.task_completed?(AcknowledgeOrderTask)
                (Not Current Order: Acknowledged)
              - else
                = submit_tag "Current Order", :onclick => "order_submit('exist', false);"
              or
              = submit_tag "New Order", :onclick => "order_submit('order', false);"
              or
              = submit_tag "New Customer", :onclick => "order_submit('customer', false);"

        - setup_main if @user
        - cache do
          - setup_main unless @user
          #prod_img
            - unless @product.tags.empty?
              %span#tags
                - for tag in @product.tags
                  = image_tag("tags/#{tag.name.downcase}.png") + "#{tag.name}"
            %div#share
              %div{ :class => "addthis_toolbox addthis_default_style" }
                %a{ :href => "//www.addthis.com/bookmark.php?v=250&amp;username=mountainxpress", :class => "addthis_button_compact" }
                  Share
                %span{ :class => "addthis_separator"} |
                %a{ :class => "addthis_button_preferred_1" }
                %a{ :class => "addthis_button_preferred_2" }
                %a{ :class => "addthis_button_preferred_3" }
                %a{ :class => "addthis_button_preferred_4" }
              :javascript
                var addthis_config = {"data_track_clickback":true};
              %script{ :type => "text/javascript", :src => "//s7.addthis.com/js/250/addthis_widget.js#username=mountainxpress" }

            - if @product.product_images.empty?
              = image_tag(@product.image_path_relative('main'), :alt => @product.name)
              %br
              = link_to "Large Image", @product.image_path_relative('large'), :rel => 'external'
            - else
              %ul#main_imgs
                - @product.product_images.each_with_index do |image, idx|
                  %li{ :style => (idx == 0 ? nil : 'display: none;')}= image_tag(image.image.url(:medium), :alt => @product.name)
              %br
              = link_to "Large Image", @product.image_path_relative('large'), :rel => 'external'

              - if @product.product_images.length > 1
                - for group in @product.product_images.to_a.in_groups_of(3)
                  %ul.thumbs
                    - for images in group.compact                  
                      %li.active{ :class => (images == @product.product_images.first) ? 'sel' : nil, 'data-variants' => images.variants.collect { |v| v.id }.join(' ') }= image_tag images.image.url(:thumb)          

          :javascript
             var price_groups = #{@prices.price_sets.collect do |set|
               { :id => set.group.id,
                 :const => set.const.to_i,
                 :exp => set.exp,
                 :breaks => set.breaks.collect do |brk|
                   { :minimum => brk.minimum,
                     :fixed => brk.fixed.to_i,
                     :marginal => brk.marginal.to_i }
                 end,
                 :variants => set.group.variants.collect { |v| v.id }
               }
             end.to_json};
             var decorations = [
             #{@techniques.collect do |tech|
                 price_group = @product.supplier.find_decoration_price_group(tech)
                 
                 "[#{tech.id},'#{tech.unit_name ? (tech.unit_name.capitalize) : nil}',#{tech.unit_default},[" +
                 @decorations.collect do |d|
                 (d.technique == tech and d.location and !d.location.empty?) ? "#{d.id},'#{d.display}',#{d.limit}" : nil
                 end.compact.join(',') + 
                 "],[" +
                 (price_group ? price_group.entries.collect do |entry|
                 "[" +
                 %w(minimum
                   fixed_price_fixed fixed_price_const fixed_price_exp fixed_price_marginal
                   fixed_divisor fixed_offset marginal_divisor marginal_offset
                   marginal_price_fixed marginal_price_const marginal_price_exp marginal_price_marginal
                   ).collect { |a| entry[a] }.join(',') +
                   "]"
                   end.join(',') : '') +
                   "]]"
                   end.join(",\n") }
                   ];
              var minimums = #{@minimums.to_json};

          - unless @properties.empty?
            #variants.box
              %dl
                - index = -1
                - for names, properties in @properties
                  %dt
                    %a{ :href => "#", :onclick => "return clear_opt(this);" }
                      - reset_cycle
                      - for name in names
                        %span{ :class => cycle('odd', 'even') }= "#{name.capitalize}:"
                  %dd
                    %ul{ :id => "group-#{index += 1}" }
                      - for props, variants in properties
                        %li{ :id => props.compact.first && "prop-#{props.compact.first.id}", 'data-variants' => variants.collect { |v| v.id }.join(' ') }
                          %a{ :href => "#", :onclick => "return sel_opt(this);", :title => props.first && "Click to select #{props.first.translate}" }
                            - reset_cycle
                            - for prop in props
                              %span{ :class => cycle('odd', 'even') }
                                = prop ? (prop.is_image? ? image_tag(prop.translate) : prop.translate) : 'NA'

          - unless @locations.empty?
            #decorations.box
              %dl
                %dt>
                  %span Decoration:
                %dd#techniques
                  %ul
                    - for tech in @techniques
                      %li{ :class => (tech == @techniques.first) && 'sel', :id => "tech-#{tech.id}" }
                        %a{ :href => "#", :onclick => "return sel_tech(this)", :title => "Click to select #{tech.name}" }
                          %span= tech.friendly_name

              %dl#sub
                - display = @techniques.first.unit_name
                %dt{ :style => !display && 'display:none;' }>
                  %span Number of #{display && @techniques.first.unit_name.capitalize}(s):
                %dd{ :style => !display && 'display:none;' }>
                  %input#unit_value{ :name => "unit_value", :onkeypress => "return num_keypress(this, event, change_units)", :type => "text", :value => @techniques.first.unit_default, :size => "6" }

                - display = @techniques.first.name != "None"
                %dt{ :style => !display && 'display:none;' }>
                  %span Location:
                %dd{ :style => !display && 'display:none;' }>
                  %ul#locations
                    - for dec in @decorations.find_all { |d| d.technique == @techniques.first }
                      %li{ :id => "dec-#{dec.id}" }
                        %a{ :href => '#', :onclick => 'return sel_loc(this)' }
                          %span= dec.display

          - unless @product.deleted
            - form_tag({ :controller => :order, :action => :add_item }, {:name => "productform", :onsubmit => 'return order_submit(this, true);' }) do
              #prices.box
                %p
                  = hidden_field_tag "product", @product.id
                  = hidden_field_tag "price_group", @prices.price_sets.first && @prices.price_sets.first.group.id
                  = hidden_field_tag "variants", ''
                  = hidden_field_tag "technique", @techniques.first ? @techniques.first.id : ''
                  = hidden_field_tag "decoration", ''
                  = hidden_field_tag "unit_count", (@techniques.first and @techniques.first.unit_name) ? @techniques.first.unit_default : ''
                  = hidden_field_tag "disposition", ''

                  %table#price_calc
                    %tr
                      %td
                        Quantity:
                        %input#quantity{ :name => "quantity", :size => "4", :onkeypress => "return num_keypress(this, event, change_quantity)", :type => "text" }
                      %td.num
                        &times;
                        %span#item_unit_price
                          $??.??
                      %td =
                      %td.num#item_total_price
                        $???.??
                      %td#addtoorder{ :rowspan => 4 }
                        %a{ :href => '#', :onclick => "order_submit('quote', true);", :title => "Click to Get Quote or Order" }
                          Get
                          %span Quote
                          %br
                          or
                          %span Order
                        %a#sample{ :href => '#', :onclick => "order_submit('sample', true);", :title => "Click for sample with quote" }
                          with
                          %span Sample
                    %tr.dec
                      %td#dec_desc{ :rowspan => '2'} JavaScript Required
                      %td.num
                        %span#dec_unit_price
                          $??.??
                      %td =
                      %td.num#dec_total_price
                        $???.??
                    %tr.dec
                      %td.num Setup
                      %td
                      %td.num#dec_fixed_price $???.??
                    %tr#total
                      %th Total:
                      %td{ :colspan => 3 }
                        %span.num#total_price $????.??
                    %tr
                      %td{ :colspan => 5 }
                        #info
                        - if @product.tag_names.include?('Closeout')
                          %div
                            %strong
                              Quantities limited on
                              %br
                              this closeout product!
                        - if @locations.empty?
                          %strong
                            Additional setup charges WILL
                            %br
                            apply for decoration options.
                        - else
                          Additional charges may apply.                       
                


                - unless @prices.price_sets.empty? or @prices.price_sets.first.breaks.first.marginal.nil?
                  %table#price_list
                    %thead
                      %tr#qty_row<
                        %th> Quantity
                        - for qty in @minimums
                          %td>= qty
                    %tbody
                      %tr#price_row<
                        %th> Unit Price
                        - for qty in @minimums
                          %td>= @prices.price_range(qty).to_perty

          #static
            - if @product.lead_time_normal_min
              .desc#leadtime
                %h2 Production Time
                %dl
                  %dt Normal:
                  %dd
                    = [@product.lead_time_normal_min, @product.lead_time_normal_max].uniq.collect { |d| format_leed_time(d) }.join(' to ')
                  - if @product.lead_time_rush
                    %dt Rush:
                    %dd
                      = format_leed_time(@product.lead_time_rush)
                      = @product.lead_time_rush_charge ? '(Additional Charges)' : '(No Charge, Some Restrictions)'

            - unless @common_properties.empty?
              .desc#attributes
                %h2 Attributes
                %dl
                  - for prop in @common_properties
                    %dt= "#{prop.name.capitalize}:"
                    %dd= prop.is_image? ? image_tag(prop.translate) : prop.translate

            - unless @product.description.nil? or @product.description.empty?
              .desc#features
                %h2 Features
                %ul#description
                  - for desc in @product.description.split("\n")
                    %li= desc

      - if @user
        .admin
          - form_for :product, @product, { :url => { :controller => '/admin/categories', :action => :add_product, :id => @product } } do |prod|
            = text_field_with_auto_complete nil, :path, {}, :url => { :controller => '/admin/categories', :action => :auto_complete_for_path }
            = submit_tag 'Add to Category'
        .admin
          %br
          - unless @sessions.empty?
            %table#access
              %thead
                %tr
                  %td Time
                  %td Address
                  %td Order(s)
                  %td State
                  %td City
                  %td Zipcode
                  %td Areacode
              %tbody
                - for session in @sessions
                  %tr
                    %td= format_time(session.pages.last.created_at)
                    %td= link_to session.pages.last.address, { :controller => '/admin/access', :action => 'paths', :session_id => session.id }
                    %td= session.orders.collect { |o| link_to o.order_id, { :controller => '/admin/orders', :action => :paths, :order_id => o.order_id } }.join(', ')
                    - begin
                      - gi = GEOIP[session.pages.last.address]
                      %td= gi.region
                      %td= gi.city
                      %td= gi.postal_code
                      %td= gi.area_code
                    - rescue
                      %td{ :colspan => 4 } Unkown
            %hr

          - unless @customers.empty?
            %table#orders
              %thead
                %tr
                  %td Order
                  %td Company
                  %td Person
                  %td Phone
              %tbody
                - for customer in @customers
                  %tr
                    %td= customer.orders.collect { |o| link_to o.id, :controller => '/order', :action => 'status', :order_id => o.id }.join(', ')
                    %td= customer.company_name
                    %td= customer.person_name
                    %td= customer.phone
            %hr

          %table
            %thead
              %tr
                %th Quantity
                - for min in @prices.all_minimums
                  %td= min
            %tbody
              %tr
                %th Our Price
                - for min in @prices.all_minimums
                  %td= @prices.price_range(min)

              - for group in @prices.cost_groups + @prices.supplier_groups + @prices.price_groups
                - name = (group.source_id ? group.source.name : 'Cost') + ' ' + group.variants.collect { |v| v.supplier_num }.join(', ')
                %tr
                  %th= group.uri ? link_to(name, group.uri) : name
                  - for min in @prices.all_minimums
                    %td
                      - e = group.price_entries.to_a.find { |v| v.minimum == min }
                      = e ? (e.marginal.to_s + ((!e.fixed or e.fixed.zero?) ? '' : " (#{e.fixed})")) : nil

          = link_to 'Price Chart', :controller => '/admin/products', :action => 'chart', :id => @product

          - if @page_products
            %hr
            %table
              %thead
                %tr
                  %td Name
                  %td Score
                  %td Match
                  %td URL
              %tbody
                - for pp in @page_products
                  %tr
                    %td= pp.page.site.url
                    %td= pp.score
                    %td= pp.correct
                    %td= link_to pp.page.request_uri, pp.page.url

        #feature-sel.admin
          %h2 Set as featured item
          %p.instruct
            Click on category to set as featured item.
            %strong
              Bold
            (position) is featured.
            %em
              Italics
            is in queue to be featured.  (Parenthesis) is current category.
          = treething(@categories)
          = link_to("Remove", :action => 'set_featured', :id => @product)
          %hr
          = link_to "Modify Page", :controller => '/admin/products', :action => :edit, :id => @product
