!!! XML
%QBWCXML
  %AppName PromoWeb
  %AppID
  %AppURL http#{Rails.env.production? ? 's://www.mountainofpromos.com' : "://#{request.env['SERVER_NAME']}:#{request.env['SERVER_PORT']}"}/qbwc/api
  %AppDescription #{COMPANY_NAME} Quickbooks Integration
  %AppSupport https://www.mountainofpromos.com/admin/
  %UserName promoweb
  %OwnerID {d9ec2073-2248-45cf-98fe-4788da4aba8#{Rails.env.production? ? 'a' : 'b'}}
  %FileID {77c425b3-0e8a-4dcd-b7a4-679d3e3e386#{Rails.env.production? ? '6' : '0'}}
  %QBType QBFS
  %Style RPC
  %Scheduler
    %RunEveryNMinutes 15
