- content_for :content do
  .tabs.nav
    - if @user
      - if @order.sample
        SAMPLE
      %div{ :style => 'float: right;' }
        - if allowed?(%w(Super Orders))
          = link_to image_tag('add.png') + "New Order", { :controller => 'admin/orders', :action => 'new_order', :customer_id => @order.customer }, { :class => 'button', :confirm => "Create a new order for #{@order.customer.person_name}" }
        %br
        = link_to(image_tag('bookmark.png'), { :controller => :order, :action => params[:action], :auth => @order.customer.uuid, :order_id => @order.id })

    %ul
      %li.sub
        %span= link_to "Order #{@order.id}", :controller => '/order', :action => :orders
        %ul
          = li_to "Status", { :controller => '/order', :action => :status, :order_id => @order }
          - if allowed?(%w(Super Customer Orders)) and (@order.task_ready_completed?(AcknowledgeOrderTask) or @order.task_ready_completed?(ArtAcknowledgeOrderTask))
            = li_to "Acknowledge", { :controller => '/order', :action => @order.task_ready?(ArtAcknowledgeOrderTask) ? :acknowledge_artwork : :acknowledge_order, :order_id => @order  } do params[:action].split('_').first == 'acknowledge' end
          = li_to("Items/Cart", allowed?(%w(Super Orders)) ? { :controller => '/admin/orders', :action => :items_edit, :order_id => @order } : { :controller => '/order', :action => :items, :order_id => @order }) do params[:action].split('_').first == 'items' end
          = li_to_task "Information", InformationOrderTask
      = li_to_task 'Contact', CustomerInformationTask
      - unless false
        = li_to_task "Artwork", VisitArtworkOrderTask
      = li_to_task 'Payment', PaymentInfoOrderTask
      - if @order.task_ready_completed?(ReviewOrderTask)
        = li_to_task "Review", ReviewOrderTask
      - if @user
        = li_to "Email", { :controller => '/admin/orders', :action => :email_list }
        = li_to "Access", { :controller => '/admin/orders', :action => :paths }
  #main= yield

= render :file => 'layouts/global'
