- @order && content_for(:content) do
  .tabs.nave
    - if @user
      - if @order.sample
        SAMPLE
      %div{ :style => 'float: right;' }
        - if allowed?(%w(Super Orders))
          = link_to image_tag('add.png') + "New Order", { :controller => 'admin/orders', :action => :new, :customer_id => @order.customer }, { :class => 'button', :method => :post, :confirm => "Create a new order for #{@order.customer.person_name}" }
        - unless params[:controller].include?('admin')
          %br
          = link_to(image_tag('bookmark.png'), { :auth => @order.customer.uuid })

    %ul
      %li.sub
        %span= link_to "Order #{@order.id}", orders_path(@user && {:customer_id => @order.customer_id})
        %ul
          != li_to_order 'Status'
          - if allowed?(%w(Super Customer Orders)) and ([AcknowledgeOrderTask, ArtAcknowledgeOrderTask].find { |c| @order.task_ready_completed?(c) })
            != li_to_order('Acknowledge', @order.task_ready?(ArtAcknowledgeOrderTask) ? :acknowledge_artwork_order : :acknowledge_order_order, [:acknowledge_artwork_order, :acknowledge_order_order])
          != li_to_order('Items/Cart', allowed?(%w(Super Orders)) ? :items_admin_order : :items_order, [:items_order, :items_admin_order])
          != li_to_order 'Information', :info_order
      != li_to_order 'Contact'
      != li_to_order 'Artwork', :order_artwork_index
      != li_to_order 'Payment'
      - if @order.task_ready_completed?(ReviewOrderTask)
        != li_to_order 'Review'
      - if @user
        != li_to_order 'Email', :email_admin_order
        != li_to_order 'Access', :access_admin_order
  #main= yield
= render :file => 'layouts/global'
